/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */



/* Header */
.outer-wrap-header {
    background-color: #92bcc4;
    .clearfix();
}

.inner-wrap-header {
    max-width: 100%;
}

.region-header-col-1 {
    float: left;
    width: 10%;
    padding: 10px;
}

.region-header-col-2 {
    float: left;
    width: 80%;
    text-align: center;
}

.region-header-col-3 {
    float: left;
    width: 10%;
}

.site-logo-text-icon {
    display: none;
}

.outer-wrap-flash {
    margin: 30px 0 0;
}



/* Main */



/* Byline */



/* Footer */
.outer-wrap-footer {
    background-color: #1b2e32;
    color: #cde0e4;
}

.outer-wrap-footer a,
.outer-wrap-footer a:hover,
.outer-wrap-footer a:visited {
    color: #cde0e4;
}

.outer-wrap-footer a:hover {
    text-decoration: none;
}
