/**
 * Layout using vgrid
 */

/**
 * Variables
 */
@tcolor-footer: #cde0e4;


/* Mixins */
.box-style() {
    box-shadow: 1px 2px 5px #888;
    border-radius: 3px;
}


/**
 * General layout
 */
.row {
    #desinax-vgrid.row();
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
}

.outer-wrap {
    overflow-x: hidden;
}

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1100px);

    &.inner-wrap-header,
    &.inner-wrap-footer {
        #desinax-vgrid.showGrid(@gridImage);
    }
}



/* Header */
.outer-wrap-header {
    background-color: #92bcc4;
    #desinax-vgrid.grid(100%);
    overflow-y: hidden;
}

.outer-wrap-header a {
    text-decoration: none;
}

.outer-wrap-header a:visited {
    color: inherit;
}

.inner-wrap-header {
    #desinax-vgrid.grid(100%);
}

.region-header-col-1 {
    font-size: 2.5em;
    padding-left: 0.25em;
}

.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(5);
}

.region-header-col-2 {
    text-align: center;
    #desinax-vgrid.column(14);
}

.site-logo,
.site-logo-text-icon {
    display: none;
}

.my-navbar {
    list-style-type: none;
}

.my-navbar li {
    display: inline;
}

.region-flash {
    #desinax-vgrid.column(@columns);
}



/* Main */
.inner-wrap-main {
    min-height: 30em;
    margin-bottom: 1em;
}

.region-main {
    #desinax-vgrid.column(@columns);
}

.article {
    clear: both;
}

.next {
    text-align: right;
    float: right;
}

.next,
.previous {
    width: 50%;
}

.has-sidebar {
    #desinax-vgrid.column(17);
}

.has-sidebar-left {
    #desinax-vgrid.push(1);
}

.wrap-sidebar .block {
    background-color: #fff;
    padding: 0 0.5em;
    padding-bottom: 0.07em;
    .box-style();
}

.region-sidebar-right .block {
    margin-bottom: 1em;
}

.region-sidebar-left,
.region-sidebar-right {
    #desinax-vgrid.column(6);
}

.region-sidebar-right {
    #desinax-vgrid.push(1);
}

.region-sidebar-left li a {
    text-decoration: none;
}

.region-sidebar-left li a:hover {
    text-decoration: underline;
}

.section-header {
    font-weight: bold;
    margin: 1em 0 0.5em;
    text-decoration: underline;
}

.region-sidebar-left ul,
.breadcrumb-list ul {
    list-style: none;
    padding-left: 0;
}

.region-breadcrumb {
    #desinax-vgrid.column(@columns);
}

.breadcrumb-list li {
    display: inline;
}



/* Images */
.left {
    float: left;
    margin-right: 1em;
}

.right {
    float: right;
    margin-left: 1em;
}



/* Byline */
.author-byline {
    overflow: auto;
    clear: both;
    margin: 2em auto;
    padding: 0.5em;
    background-color: #fff;
    .box-style();
}


/* Footer */
.outer-wrap-footer {
    background-color: #1b2e32;
    color: @tcolor-footer;
    padding: 2em 0;
}

.outer-wrap-footer,
.site-footer {
    clear: both;
}

.footer-column {
    #desinax-vgrid.column(@columns / 3);
}

.site-footer {
    text-align: center;
}

.outer-wrap-footer a,
.outer-wrap-footer a:hover,
.outer-wrap-footer a:visited {
    color: @tcolor-footer;
}

.footer-column h4 {
    border-bottom: 1px solid @tcolor-footer;
}
